pandas
scikit-learn
numpy
matplotlib
seaborn
missingno
xgboost
lightgbm
catboost
scipy
notebook
mlflow
pydantic
fastapi
uvicorn
pyYAML
python-dotenv
ensure
tdqm
ensure
types-PyYAML
python-box
joblib
zenml[server]
#-e .